*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}
 
.container{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(4, 211, 248, 0.8),rgba(0, 0, 50, 0.8)), url(background.png);
	background-position: center;
	background-size: cover;
	position: relative;
}

.form-box{
	width: 90%;
	border-radius: 15px 15px 15px 15px;
	max-width: 450px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #6dcbee;
	padding: 50px 60px 70px;
	text-align: center;

}

.form-box h1{
	font-size: 35px;
	margin-bottom: 56px;
	position: relative;
	color: #3c00a0;
}

.form-box h1::after{
	content: '';
	width: 49px;
	height: 5px;
	border-radius: 3.5px;
	background: #3c00a0;
	position: absolute;
	bottom: -15%;
	left: 50%;
	transform: translate(-50%);
}


.input-field input[type="text"],
.input-field input[type="email"],
.input-field input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 0px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}


.input-field{
	background: #eaeaea;
	margin: 15px 0;
	border-radius: 3px;
	display: flex;
	align-items: center;
	max-height: 65px;
	transition: max-height 0.7s;
	overflow: hidden;
}

.input{
	width: 100%;
	background: transparent;
	border: 0;
	outline: 0;
	padding: 15px;	 
}
.input-field{
	margin-left: 15px;
	color: #999999;
}
form p{
	text-align: center;
	font-size: 15px;

}

.btn-field button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}


.btn-field button{
	border-radius: 5px;
	flex-shrink: 50%;
	flex-basis: 50%;
	background: #56bdf9;
	border: 0;
	outline: 0;
	color: #fff;
	height: 40;
	cursor: pointer;
	transition: background 1s;
}

.input-group{
	height: 300px;
}

.btn-field button.disable{
	background: #eaeaea;
	color: #555
}

.check-field {
    text-align: justify; 

}

.check-field label {
    margin-right: 10px; 
    color: #555; 
}

.check-field input[type="checkbox"] {
	position: relative;
    width: 15px; 
    height: 15px; /* Adjust the height as needed */
    cursor: pointer;
}

